 <form class="card" id="post-form">
        <div class="card-header">
        <h2>Create a post</h2>
        </div>
        <h3 class="title">Title</h3>
            <input type="text area" class="title-upload" id="post-title">
   
        <h3 class="title">Content</h3>
       <input type="text area" class="post-upload" id="post-content">
        <button class="btn-update" id="post-btn">submit post!</button>
    </form>
 
    <script src="./js/post-submit.js"></script>