<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
<body>
    <!-- navbar -->
    <nav class = "nav">
        <div>
     <a href="/">Home</a>
     <a href="/dashboard">dashboard</a>
     {{#if loggedIn}}
       <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
    <h1 class="nav-text">Terminal Tales</h1>
    </nav>

    {{{body}}}

    </body>
   {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  </html>