<form class="card-login">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <h3 class="login-header">Email</h3>
        <input type="text"  class="input" id="email-login">
        <h3 class="login-header">Password</h3>
        <input type="text" class="input" id="password-login">
        <button class="btn-login" id="login-btn">Login</button>
        <a href="/signUp" class="sign-up">Sign Up instead</a>
    </form>

    <script src="./js/login.js"></script>