<form class="card-login">
        <div class="card-header">
            <h2>Sign Up</h2>
        </div>
        <h3 class="login-header">Username</h3>
        <input type="text"  class="input" id="username-signup">
         <h3 class="login-header">Email</h3>
        <input type="text"  class="input" id="email-signup">
        <h3 class="login-header">Password</h3>
        <input type="text" class="input" id="password-signup">
        <button class="btn-login" id="btn-signup">Sign Up</button>
    </form>

    <script src="./js/login.js"></script>