 <form class="card">
        <div class="card-header">
        <h2>Edit post</h2>
        </div>
        <h3 class="title" >Title</h3>
            <input type="text area" class="title-upload" id="title">
   
        <h3 class="title">Content</h3>
       <input type="text area" class="post-upload" id="post">
        <button class="btn-update">Update!</button>
    </form>

    <script src="/js/update.js"></script>